# Virtual Environment
venv/
env/
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Node.js
node_modules/
dist/
.vite/

# IDEs
.vscode/
.idea/

# Database
*.sqlite3
*.db

# ML Models
*.joblib
*.pkl
